@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap'); 
body {
  margin: 0;
  height: 100%;
  position: relative !important;
  font-family: 'Prompt', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
